{% extends 'base.html' %}

{% block title %}add host {% endblock%}


{% block error_block %}
    {% if zabbix_error %}
        <div class="alert alert-danger">
            <strong>Error!</strong> {{ zabbix_error }}
        </div>
    {% endif %}

    {% if form.errors %}
        <div class="alert alert-danger">
            <strong>Error!</strong> Please correct the error{{ form.errors|pluralize }} below.
            {% for field in form %}
              {% if field.errors %}
                {% for error in field.errors %}
                  <li>{{ field.name }} - {{ error|escape }}</li>
                {% endfor %}
              {% endif %}
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}


{% block content %}
    {% if added %}
        <div class="alert alert-success">
            <strong>Success!</strong> Host added.
        </div>
    {% endif %}

 <form action="" method="post">
     <div class="row">
      <div class="col-sm-4"></div>
      <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">Добавить устройство в Zabbix</div>
                <div class="panel-body">
                        <label for="hostname">Hostname:</label>
                        <input type="text" class="form-control" id="hostname" name="hostname">
                        <label for="ip_address">IP address:</label>
                        <input type="text" class="form-control" id="ip_address"  name="ip_address">
                        <label for="group_name">Группа:</label>
                        <p id="group_name">{{ form.group_name }} </p>
                        <label for="template_name">Шаблон:</label>
                        <p id="template_name">{{ form.template_name }}</p>
                        <hr>
                        <label for="snmp_community">SNMP Community: <span class="label label-info">Optional</span></label>
                        <input type="text" class="form-control" id="snmp_community" placeholder="Zorkiy_glas_vidit_mnogoe" name="snmp_community">
                        <br>
                        <div class="[ form-group ]">
                            <input type="checkbox" name="status" id="fancy-checkbox-default" autocomplete="off" />
                                <div class="[ btn-group ]">
                                    <label for="fancy-checkbox-default" class="[ btn btn-default ]">
                                        <span class="[ glyphicon glyphicon-ok ]"></span>
                                        <span> </span>
                                    </label>
                                    <label for="fancy-checkbox-default" class="[ btn btn-default active ]">
                                        Сделать активным в Zabbix
                                    </label>
                                </div>
                        </div>
                        <br>
                        <button type="submit" class="btn btn-success btn-block">Добавить в Zabbix</button>
                </div>
            </div>
      </div>
      <div class="col-sm-4"></div>
    </div>
    {% csrf_token %}
 </form>


<script type="text/javascript">
    $('#id_group_name').multiselect();
    $('#id_template_name').multiselect();
</script>

{% endblock %}