{% extends 'base.html' %}

{% block title %}List {% endblock%}


{% block content %}

<div class="container">
    <h2>Оборудование</h2>
    <br>

    <form action="" method="get">
        <table class="table">
            <thead>
            <tr>
                <th>
                {% if last_ordering == "hostname__addition_date" %}
                    <button class="btn btn-success" type="submit" name="o" value="-hostname__addition_date">Дата добавления</button>
                {% else %}
                    <button class="btn btn" type="submit" name="o" value="hostname__addition_date">Дата добавления</button>
                {% endif %}
                </th>
                <th>
                {% if last_ordering == "hostname__po" %}
                    <button class="btn btn-success" type="submit" name="o" value="-hostname__po">ПО</button>
                {% else %}
                    <button class="btn" type="submit" name="o" value="hostname__po">ПО</button>
                {% endif %}
                </th>
                <th>
                {% if last_ordering == "hostname__hostname" %}
                    <button class="btn btn-success" type="submit" name="o" value="-hostname__hostname">Hostname</button>
                {% else %}
                    <button class="btn" type="submit" name="o" value="hostname__hostname">Hostname</button>
                {% endif %}
                </th>
                <th>
                {% if last_ordering == "ip" %}
                    <button class="btn btn-success" type="submit" name="o" value="-ip">IP</button>
                {% else %}
                    <button class="btn" type="submit" name="o" value="ip">IP</button>
                {% endif %}
                </th>
                <th>
                {% if last_ordering == "hostname__model" %}
                    <button class="btn btn-success" type="submit" name="o" value="-hostname__model">Модель</button>
                {% else %}
                    <button class="btn" type="submit" name="o" value="hostname__model">Модель</button>
                {% endif %}
                </th>
                <th>
                {% if last_ordering == "hostname__purchase" %}
                    <button class="btn btn-success" type="submit" name="o" value="-hostname__purchase">Закупка</button>
                {% else %}
                    <button class="btn" type="submit" name="o" value="hostname__purchase">Закупка</button>
                {% endif %}
                </th>
                <th>
                {% if last_ordering == "hostname__description" %}
                    <button class="btn btn-success" type="submit" name="o" value="-hostname__description">Комментарий</button>
                {% else %}
                    <button class="btn" type="submit" name="o" value="hostname__description">Комментарий</button>
                {% endif %}
                </th>
            </tr>
            </thead>
            <tbody>
            {% for device in devices %}
            <tr>
                <td>{{ device.hostname.addition_date }}</td>
                <td>{{ device.hostname.po }}</td>
                <td>{{ device.hostname }}</td>
                <td>{{ device.ip }}</td>
                <td>{{ device.hostname.model }}-{{ device.hostname.ports }}</td>
                <td>{{ device.hostname.purchase }}</td>
                <td>{{ device.hostname.description }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </form>
</div>
{% csrf_token %}
{% endblock %}